.container {
    color: blue;
}

.header {
    margin-bottom: 40px;
    color: var(--bs-success);
    font-size: 32px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item1 {
    grid-column: span 2;
}

.item2 {
    grid-column: span 1;

}